@import '_util';

@line_color: #333;

.3d {
  text-shadow: 0 1px 0 #ccc, 
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}
/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

html {
	background-color: #111;
	overflow: hidden;
}

body{
	font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #111;
	overflow: hidden;
}

.wrapper{
/*  margin: auto;*/
/*  width: 960px;*/
}

#header-container{
	background-color: #111;
/*  height:130px;*/
/*  border-bottom:20px solid #e44d26;*/
/*  margin-bottom:50px;*/
	-webkit-box-shadow:0 0 40px #AAA;
	   -moz-box-shadow:0 40px 40px -40px #AAA;
	        box-shadow:0 0 40px #AAA;
}

#yours {
  position: absolute;
  right: 32px;
  top: 24px;
  width: 140px;
  
  a {
    text-decoration: none;
    display: block;
    color: #666;
    margin-bottom: 6px;
  }
}



#about {
/*  position: absolute;*/
/*  top: 24px;*/
/*  left: 240px;*/
/*  right: 240px;*/
  width: 235px;
  margin: 24px auto;
/*  font-size: 15px;*/
  line-height: 1.6em;
  color: #bbb;
/*  text-align: center;*/

  p {
    margin-bottom: 12px;
  }


}

#examples {
  position: absolute;
  left: 32px;
  top: 24px;
  width: 140px;
  
  a {
    text-decoration: none;
    display: block;
    color: #666;
    margin-bottom: 6px;
  }
  
  a:hover {
    color: #888;
  }
  
  
  p {
    margin-top: 24px;
  }
  
  .button {
    display: inline;
    background-color: #999;
    color: #111;
    padding: 4px 6px;
    text-decoration: none;
    position: relative;
  }

  .cancel {
    color: #999;
    font-size: 11px;
    text-decoration: none;
    position: relative;
    top: 2px;
    left: 2px;
  }

}

h1 {
  color: white;
/*  background-color: red;*/
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  width: 100%;
  top: 75%;
  display: none;
}

h2 {
  color: #444;
  font-size: 16px;
  margin-bottom: 8px;
}





#today {
  position: absolute;
  top: 50%;
  margin-top: -110px;
  margin-left: -1px;
  width: 200px;
  left: 0%;
  color: #444;
  height: 20px;
/*  background-color: red;*/
  font-size: 18px;
  text-align: center;
  border-left: 1px solid #444;
  
  span {
    position: relative;
    display: block;
    top: -24px;
    left: -100px;
    /*  background-color: red;*/
    
  }
}

nav {
	float:right;
	margin-top:100px;
}

nav ul, nav ul li{
	display:inline;
}

nav a{
	padding:20px;
	color:white;
	text-decoration:none;
	background-color:#e44d26;
}

#main p{
	font:16px/26px Helvetica, Helvetica Neue, Arial;
  width:620px;
	text-shadow:none;
}


form:focus {
  input {
    background-color: #333 !important;
  }
}


@form_height: 130px;


form {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: 99px;
  height: @form_height;
  
  #title {
    color: #ddd;
    font-size: 36px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-top: 36px;
    width: 400px;
    margin-left: -200px;
  }
  
  input {
    text-align: center;
    font-size: 24px;
    background-color: #111;
    z-index: 1;
    border: 0;
  }
  
  #from, #to {
    color: #555;
    width: 6.5em;
  }
  
  #from_div {
    height: @form_height;
    border: 1px dotted @line_color;
    border-right: 0;
    border-top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  #to_div {
    height: @form_height;
    border: 1px dotted @line_color;
    border-left: 0;
    border-top: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  #from, #to {
    position: relative;
    top: @form_height - 16px;
    padding: 2px 4px;
    background-color: #111;
  }
  
  #from {
    left: 64px;
/*    border-left: 1px solid @line_color;*/
  }
  
  #to {
    right: 64px;
/*    border-right: 1px solid @line_color;*/
  }
  
  #show {
    display: none;
  }
  

  
  #duration_div {
    left: 200px;
    right: 200px;
    color: #aaa;
    border-bottom: 1px dotted @line_color;
  /*  background-color: red;*/
    bottom: 0px;
/*    margin-top: 154px;*/
/*    z-index: 100;*/
    text-align: center;
    position: absolute;
    height: 24px;
  	font-weight: normal;	

  	span {
  /*    background-color: #111;*/
  	  position: relative;
      top: 64px;
  /*    padding: 0 8px;*/
  	  text-transform: uppercase;

  	  b {
  	    padding: 0 8px;
        font-size: 24px;
      }
    }
  }
  #duration_div:after {
    content: '';
    position: absolute;
/*    border: 1px dotted #fff;*/

/*    -webkit-transform: rotate(45deg);*/
    border-left: 0;
    border-bottom: 0;
    background-color: transparent;
    top: 17px;
    opacity: 0.15;
    right: 25px;
    width: 10px;
    height: 16px;
    display: block;
    z-index: 100;
    background: transparent url(../images/rarrow_head.png) 0 0 no-repeat;
     
    
/*    background-color: red;*/
  }
  
}

.complete {
  input#title {
    text-decoration: line-through;
  }
  
  h1 {
    text-decoration: line-through;
    color: #888;
  }
  
  #main {

    #bar {
      .grad_linear(#ED4608, #D93C06);
    }
  
    #status {
      letter-spacing: 1px;
  /*    font-weight: bold;*/
      color: #fff;
      text-shadow: 0px 3px 0px #000,
                   0 -1px 0 rgba(0, 0, 0, 0.1);

    }
  }
}

#main {
	position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #333;
  height: 200px;

  
  #outer_bar {
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    .grad_linear(#333, #777);    
  }

  #bar {
    margin: 0;
    height: 100%;
/*    border-right: 1px solid #000;*/
    .grad_linear(#ee6529, #883322);
    background-color: #999;
    width: 0%;
  }

  #status {
    letter-spacing: -3px;
    text-transform: uppercase;
    position: absolute;
    top: 64px;
/*    opacity: 0.5;*/
    color: #111;
    
    font-size: 500%;
    left: 50%;
    font-weight: 100;

    small {
/*      left: 50%;*/
/*      width: 300px;*/
/*      top: 80px;*/

/*      margin-left: -150px;*/
      position: absolute;
      font-size: 100%;
/*      font-size: 32px;*/
      display: none;
/*      color: #888;*/
    }

    span {
      top: -2px;
      position: relative;
      font-weight: bold;
      padding: 0 4px 0 12px;
      letter-spacing: 2px;
/*      word-spacing: 1.6em;*/
      color: #fff;
      text-shadow: 1px 2px 0px #333,
                   0 -1px 0 rgba(0, 0, 0, 0.1);
    }
    
/*    text-shadow:  2px  2px 1px #000,
                  2px -2px 1px #000,
                 -2px -2px 1px #000,
                 -2px  2px 1px #000;
*/
    
    
/*    .3d; */
        
    margin-left: -40%;
    width: 80%;
    text-align: center;
/*    display: none;*/
  }

}





#footer-container{
  position: absolute;
  bottom: 0;
  height: 32px;
/*  border-top:20px solid #e44d26;*/
/*  margin-top:50px;*/
/*  -webkit-box-shadow:0 0 40px #AAA;
     -moz-box-shadow:0 -40px 40px -40px #AAA;
          box-shadow:0 0 40px #AAA;*/
  width: 100%;
}

#footer-container footer {
	color: #555;
	padding-left: 24px;
/*  text-align: center;*/
	
	a {
	  text-decoration: none;
	}
}

.info {
	position:absolute;
	top:5px;
	padding:10px;
}

#jquery-test{
	top: 45px;
}


#result {
  background: black;
  height: 30px;
}










